<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Middleman" %></title>

    <link href='//fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Roboto:300,400' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Roboto+Slab:400,300' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag :site %>
    <%= javascript_include_tag :all %>
  </head>

  <body class="plain <%= page_classes %>">
    <%= google_analytics_universal_tag %>
    <div class="navbar">
        <div class="container">
            <span class="title">
                <%= link_to "Site Reliability Engineering", "/", class: "inline" %>
            </span>
            <span class="pull-right">
                <%= link_to "Why SRE?", "/sre", class: "inline" %>
            </span>
        </div>
    </div>
    <div class="welcome">
        <div class="container">
            <!--<div class="fill">
              <%= image_tag "IBM_System_360_tape_drives.jpg" %>
            </div>-->
            <%= breadcrumbs(current_page, separator: ' • ') %>
            <div class="content">
                <%= yield %>
            </div>
        </div>
    </div>
    <div class="footer">
        <%= link_to "Site Map", "/map", class: "pull-left inline" %>
        <center>
            <%= link_to "Contribute to SRE on Github", "https://github.com/mikkergimenez/sre", class: "inline" %>
        </center>
	<span class="pull-right">
	</span>
    </div>
  </body>
</html>
