---
title: Devopsed
---

<h1>Learn Site Reliability Engineering</h1>
<h3>A curated experience for learning about operations</h3>

<p>
  I am often asked:
</p>
<p class="blockquote">
  What should I learn to get better at operations?
</p>
<p>
  What I think people are asking; when they ask this question, is which of the latest and greatest new technologies should they be using.  Something like Docker, or AWS.  And the answer is, you should pursue those skills;  You should follow what you're passionate about in this industry, because it's a long road and there is no reason not to enjoy it.
</p>
<p>
  But every craft has it's fundamentals, and for Site Reliability Engineering they are:
</p>
    <p>
        <center>
            <%= link_to "Linux", "/linux" %>
            <%= link_to "Development", "/development" %>
            <%= link_to "Networking", "/networking" %>
        </center>
    </p>
<p>
<p>
    You'll never go wrong upleveling these skills.  Everything else is built off of them.  The better a programmer you are, the deeper you will understand configuration management.  Linux underlies most virtualization platforms, and half of troubleshooting docker is understanding the linux containerization technologies below it.  Networking draws these worlds together and of course none of these technologies operates independently.  They are each interwoven and your understanding of advanced techologies will depend on your understanding of these three.
</p>
<p>

</p>
<p>
  <h2>General Dev/Ops Info:</h2>

  <%= link_to "The Pheonix Project", "http://www.amazon.com/Phoenix-Project-DevOps-Helping-Business/dp/0988262509/ref=sr_1_1?ie=UTF8&qid=1461251530&sr=8-1&keywords=the+phoenix+project", target: "_blank" %>
</p>

<p>
  <h2>Second Level Skills</h2>

  <%= link_to "Databases", "/databases", target: "_blank" %>
  <%= link_to "SRE", "/sre", target: "_blank" %>
  <%= link_to "Virtualization", "/virtualization", target: "_blank" %>
  - VMWare
  - AWS

</p>

<p>
  <h2>Third Level Skills</h2>

  <%= link_to "Containerization", "/containerization", target: "_blank" %>
    - Docker
    - CoreOS

</p>

  Monitoring

  CI/CD

  Databases
    - Kafka

  Development

  - Configuration Management
    - Puppet
    - Chef
    - Salt
    - Ansible

  Networking

  - IPv4

  - Routing

  - Switching

  - Load Balancing
  Security

  Datacenters
