---
title: Linux Curriculum
---

<h1>A Linux Curriculum</h1>
<h2>A curated experience for learning about Linux</h2>

<ol>
    <li><a href="#what_is_linux" class="inline">What is Linux</a></li>
    <li><a href="#choosing_a_distribution" class="inline">Choosing a Distribution</a></li>
    <li><a href="#installing_linux" class="inline">Installing Linux</a></li>
</ol>

<hr>

<a name="what_is_linux" class="anchor"><h3>What is Linux?</h3></a>
<p class="doc">
    Linux is an <%= link_to "Open Source", "https://en.wikipedia.org/wiki/Open_source", target: "_blank", class: "inline" %> <%= link_to "Operating System", "https://en.wikipedia.org/wiki/Operating_system", target: "_blank", class: "inline" %>
</p>
<p class="doc">
    Straight from the horses mouth, here is an overview on what Linux is from the Linux Foundation (The Linux Foundation is a non-profit consortium dedicated to fostering the growth of Linux, http://www.linuxfoundation.org/)::
</p>
<p class="blockquote">
    <%= link_to "The Linux Foundation: What is Linux?", "http://www.linuxfoundation.org/what-is-linux", target: "_blank", class: "inline" %>
</p>

<hr>

<a name="choosing_a_distribution" class="anchor">
    <h3>Choosing a Linux Distribution</h3>
</a>
<p class="doc">
    If you're just starting out with Linux, don't fret about which Distribution to use.  You should probably just use Ubuntu, or whatever distro your friend that wants to get you into Linux uses.
</p>
<p class="doc">
    Ubuntu has been the most popular Linux distro for a while now, which means it's well supported(lots of answers to your questions online in google or online forums) and it's easy to use and install, with minimal bugs.  You can find Ubuntu here:
</p>

    <div>
        <%= link_to "#{image_tag("http://design.ubuntu.com/wp-content/uploads/ubuntu-orange.gif")}", "https://www.ubuntu.com", target: "_blank" %>
    </div>
</p>

<p class="doc">
    Here is an <%= link_to "askubuntu.com", "http://askubuntu.com", target: "_blank", class: "inline" %> forum posting that has a guide on how to install Ubuntu on VirtualBox:
</p>
<p class="doc">
    <%= link_to "How to install Ubuntu on Virtualbox", "http://askubuntu.com/questions/142549/how-to-install-ubuntu-on-virtualbox", target: "_blank", class: "inline" %>
</p>

<hr>
<a name="choosing_a_distribution" class="anchor">
    <h3>Installing Linux</h3>

</a>
<p class="doc">
    Coming Soon
</p>
