---
title: Linux
layout: plain
---
<div class="logo pull-right">
  <%= image_tag "tux.png" %>
</div>
<h1> Linux</h1>

<p>
    The following page is an overview of getting started with Linux, for a full curriculum look <%= link_to "here", "/linux/curriculum", class: "inline" %>.

</p>

<p class="doc">
The best way to learn Linux is to log into a box and experiment.  Fortunately for you, Linux is both free (as in speech) and free (as in beer).
<p>
<p class="doc">
<%= link_to "Ubuntu Linux", "http://www.ubuntu.com/", target: "_blank", class: "inline" %> has long been the most popular <!--<a href="" data-koglossarylink='Different versions of linux are called "distributions" or "distros"'>distribution</a>--> distribution for new users.  It is easy to download and install.  These days, if you are looking to try out Linux, but don't have a spare computer to use it on, you can create a Linux Virtual Machine that let's you run an entire computer without removing Windows or Mac OS X.
</p>
<p class="doc">
<%= link_to "VirtualBox", "http://www.virtualbox.org", target: "_blank", class: "inline" %> is a free and popular software application for running virtual machines.
</p>
<p class="doc">
There are quite a few ways to learn Linux.  Linux has a lot of history, and, though it has changed dramatically over the years, much of the core understanding of Linux has not changed.
</p>
<p class="doc">
<%= link_to "The Linux Documentation Project", "http://www.tldp.org", target: "_blank", class: "inline" %> has lots of classic documentation on Linux, that is largely still relevant, and a fun way to learn as it is similar to the experience of learning Linux years ago.  A good place to start is the <%= link_to " Introduction to Linux: A Hands on Guide", "http://www.tldp.org/LDP/intro-linux/html/index.html", target: "_blank", class: "inline" %>.
</p>
<ol class="doc">
<li><%= link_to "Linux Kernel", "http://www.kernel.org", target: "_blank", class: "inline" %></li>
<li><%= link_to "Linux Questions.org", "http://www.linuxquestions.org", target: "_blank", class: "inline" %></li>
<li><%= link_to "The Linux Documentation Project", "http://www.tldp.org", target: "_blank", class: "inline" %></li>
<li>http://pbrs.blogspot.com/2013/05/dont-fear-penguin.html?utm_medium=referral&utm_source=zeef.com&utm_campaign=ZEEF</li>
<li><%= link_to "Linux Fundamentals Book", "http://linux-training.be/files/books/LinuxFun.pdf", target: "_blank", class: "inline" %></li>
<li><%= link_to "Linux Fundamentals Book", "https://linux.zeef.com/paul.reiber", target: "_blank", class: "inline" %></li>

</ol>
